.field
	= f.label :user_email
	%br/
	= f.text_field :user_email
.field
	= f.label :user_password
	%br/
	= f.password_field :user_password
.field
	= f.label :user_password_confirmation, "Confirmation"
	%br/
	= f.password_field :user_password_confirmation

